/*.table-borderless td, .table-borderless tr, .table-borderless tbody,
.table-borderless th {
    border: 0;
}

.table .table-striped{
    margin-bottom: 0;
    width: 100%;
    table-layout: fixed;
}

.table .table-striped .td{
    width: 25%;
}

a {
    color:#234567;
}
*/

.table .table-striped th, .table .table-striped tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table .table-striped tbody {
    height: 100px;
    table-layout: fixed;
    overflow: auto;
    display: block;
    width: 100%;
}
