<nav class="sidebar">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="showClients()">
                <span>
                    <i class="fa fa-arrow-right"></i>
                    {{ 'Clients' }}
                </span>
            </a>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="showSigns()">
                <span>
                    <i class="fa fa-arrow-right"></i>
                    {{ 'Signs' }}
                </span>
            </a>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="showCharacters()">
                <span>
                    <i class="fa fa-arrow-right"></i>
                    {{ 'Characters' }}
                </span>
            </a>
        </div>
    </div>
</nav>
